# Backend configuration
TWELVE_DATA_API_KEY=""
FINNHUB_API_KEY=""
FIREBASE_WEB_CLIENT_ID=""
FIREBASE_WEB_CLIENT_SECRET=""
FIREBASE_API_KEY=""
FIREBASE_AUTH_DOMAIN=""
FIREBASE_PROJECT_ID=""
FIREBASE_STORAGE_BUCKET=""
FIREBASE_MESSAGING_SENDER_ID=""
FIREBASE_APP_ID=""
FIREBASE_MEASUREMENT_ID=""
FIREBASE_SERVICE_ACCOUNT_PATH=""
ADMIN_EMAILS="admin@example.com"
ALLOWED_ORIGINS="http://localhost:3000"
